<div class="container-md mt-2 rounded border px-4 py-2  ">
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2 fav"><a routerLink="/pokedex">Home</a></div>
        
    </div>
</div>
    
     <div class="container-md mt-2 rounded border px-4 py-2  ">
        <div class="row row-cols-1 row-cols-md-5">
            <div class="col" *ngFor="let pokemon of favorites">
                
              <div class="card mb-4 ">
                 <div class="card-body ">
                    <div class="row">
                        <div class="col-10 poke card "><span routerLink="/pokemon-description/{{pokemon.name}}">{{pokemon.name + ' '}}</span></div>
                        <img [src]="pokemon.foto" routerLink="/pokemon-description/{{pokemon.name}}">
                    </div>
                </div> 
              </div>
            </div>
          </div>
     </div>

